<div id="header">
  <div class="header-top">
    <div class="row alignment">
      <div class="col">
        <a href="mailto:parv3213@gmail.com?subject=Feedback&body=Hi">parv3213@gmail.com</a>
      </div>
      <div class="col alignment">
        <a class="a-tag" target="_blank" href="https://www.instagram.com/parv_/"><i class="fab fa-instagram"></i></a>
        <a class="a-tag" target="_blank" href="https://github.com/parv3213"><i class="fab fa-github"></i></a>
        <a class="a-tag" target="_blank" href="https://www.linkedin.com/in/parv3213/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="a-tag" target="_blank" href="https://www.facebook.com/parv31"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>
</div>
